@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,700;1,400&display=swap');

:root {
  --color-primary: #065471;
  --color-secondary: #0A91AB;
  --color-tertiary : #FFC045;
  --color-success: #14A44D;
  --color-danger: #DC4C64;
  --font-primary:'Raleway', sans-serif;
}

* {
  font-family: var(--font-primary);
}

.App {
  background-color: #ffff;
}

.exit-navbar {
  width: 100%;
}

.exit-navbar div {
  display: flex;
  justify-content: right;
}

.exit-navbar button {
  border: none;
  background: none;
  cursor: pointer;
}

.exit-navbar i {
  font-size: 1.5rem;
  padding: .3rem;
}

.container {
  display: flex;
}

.navbar {
  width: 20%;
  justify-content: center;
}

.container-perfil {
  justify-content: center;
  text-align: center;
  margin-top: 20%;
}

.container-perfil img {
  width: 30%;
  border-radius: 50%;
}

.container-perfil h5 {
  font-weight: 400;
  font-style: italic;
  font-size: .9rem;
  width: 90%;
}

.container-perfil span {
  color: var(--color-tertiary);
}
.select {
  background-color: var(--color-secondary);
  width: 80%;
  border-radius: 10rem;
}
.container-options button{
  font-size: 1rem;
  border: none;
  padding: .5rem;
  cursor: pointer;
  background: none;
}
.container-options ul {
  list-style: none;
}
.container-options i {
  padding: .5rem;
}

.container-button {
  padding: 1rem;
  text-align: center;
}

.container-button button{
  font-size: 1rem;
}

.button-tweet {
  border: none;
  background-color: var(--color-tertiary);
  border-radius: 1rem;
  padding: .5rem 2rem;
  cursor: pointer;
  font-weight: 700;
}

.container-logo {
  width: 100%;
}

.container-logo img {
  width: 7rem;
  position: fixed;
  z-index: 1;
  bottom: 0;
}

.content {
  background-color: var(--color-primary);
  height: 90vh;
  width: 75%;
  border-radius: 1rem;
  overflow-y: auto;
}

.input-tweet {
  background-color: #DFF6FF;
  margin: 1.2rem;
  border-radius: 1rem;
  padding: 1rem;
}

.input {
  padding: .4rem;
}

.input-tweet i {
  padding: .3rem;
  color: var(--color-secondary);
}

.input-tweet input {
  color: var(--color-primary);
  border: none;
  background: none;
  border-bottom: .2rem white solid;
  outline: none;
  font-size: .8rem;
  width: 60%;
}

.input-button {
  text-align: right;
  padding: .4rem;
}

.content-tweet {
  display: flex;
  background-color: #ffff;
  margin: 1.2rem;
  border-radius: 1rem;
  padding: .8rem;
}
.usuario-tweet {
  display: flex;
  width: 80%;
}
.img-tweet {
  width: 7%;
}
.usuario-tweet img {
  width: 100%;
  border-radius: 50%;
}
.usuario-tweet h5 {
  margin: 0.5rem;
  font-size: 1rem;
}
.fecha p {
  margin: 0.5rem;
  color: var(--color-secondary);
}

.option {
  padding-top: 1.5rem;
  text-align: center;
  background: none;
  border: none;
}
.option i {
  font-size: 1.5rem;
  cursor: pointer;
}
.loginRegister {
  display: flex;
  justify-content: center;
  height: 97vh;
  align-items: flex-end;
}
.container-login {
  text-align: center;
}
.container-logoform {
  margin: -1rem;
}
.container-datalogin {
  background-color: var(--color-secondary);
  padding: 3rem 1rem 1rem 1rem;
  position: relative;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  z-index: 1;
}

.container-datalogin h5 {
  font-size: 1.2rem;
  color: var(--color-tertiary);
}

.form-user, .form-pass, .form-img {
  padding: .3rem;
}
.form-user i, .form-pass i, .form-img i {
  padding: .5rem;
  color: var(--color-primary);
}
.form-user input, .form-pass input, .form-img input {
  border: none;
  background: none;
  border-bottom: 0.3rem double var(--color-primary);
  outline: none;
  font-size: .9rem;
  width: 70%;
  cursor: text;
}
.form-user input::placeholder, .form-pass input::placeholder, .form-img input::placeholder {
  color: rgb(42, 41, 41);
  font-weight: 700;
  font-size: .8rem;
}
.form-button {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.button-loginregister {
  font-weight: 400;
  font-style: italic;
  font-size: .9rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-tertiary);
}

.message-alert {
  align-items: center;
  font-weight: 700;
  color: #ffff;
  border-radius: 1rem;
  bottom: 2rem;
  display: flex;
  font-size: .8rem;
  padding: .4rem 1rem;
  position: absolute;
  right: 2rem;
  z-index: 100;
}

.content-mensaje {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-tertiary);
  padding-top: 10%;
}

.color-success {
  background-color: var(--color-success);
}
.color-error {
  background-color: var(--color-danger);
}
i.color-success {
  background-color: transparent;
  color: var(--color-success);
}
i.color-error {
  background-color: transparent;
  color: var(--color-danger);
}